In [1]:
import pandas as pd
from pathlib import Path

In [2]:
path = Path('/media/aqib/Software/My Boys Team Projects/project week 1/End-To-End-Malicious-Classification/data/processed_data')

In [3]:
X_train = pd.read_csv(path/'X_train.csv')
X_test = pd.read_csv(path/'X_test.csv')
y_train = pd.read_csv(path/'y_train.csv')
y_test = pd.read_csv(path/'y_test.csv')

In [4]:
# y_train.value_counts()

In [5]:
X_train.columns

Index(['Domain_Age', 'sld', 'oc_8', 'Emails', 'hex_32', 'Domain_Name',
       'puny_coded', 'Page_Rank', 'Alexa_Rank', '3gram',
       'distance_from_bad_words', 'Country', 'hex_8', 'oc_32', 'len', 'typos',
       'Registrar', 'dec_8', '2gram', 'State', '1gram', 'obfuscate_at_sign',
       'entropy', 'numeric_percentage', 'Registrant_Name', 'subdomain',
       'char_distribution', 'shortened', 'longest_word', 'Name_Server_Count',
       'dec_32', 'Creation_Date_Time', 'Organization', 'tld', 'Unnamed: 34'],
      dtype='object')

In [6]:
X_train.isnull().sum()

Domain_Age                  2384
sld                           15
oc_8                           0
Emails                     10061
hex_32                         0
Domain_Name                 4939
puny_coded                     0
Page_Rank                  15531
Alexa_Rank                  2384
3gram                          0
distance_from_bad_words        0
Country                    13663
hex_8                          0
oc_32                          0
len                            0
typos                          0
Registrar                   8060
dec_8                          0
2gram                          0
State                      16208
1gram                          0
obfuscate_at_sign              0
entropy                        0
numeric_percentage             0
Registrant_Name            39044
subdomain                      7
char_distribution              0
shortened                    155
longest_word                  19
Name_Server_Count           2384
dec_32                         0
Creation_Date_Time          7653
Organization               17480
tld                            7
Unnamed: 34                40120
dtype: int64

In [7]:
X_train.shape

(40127, 35)

In [8]:
data = pd.read_csv(path/'dataset.csv')

/tmp/ipykernel_98209/1332679909.py:1: DtypeWarning: Columns (22,28,30,35) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path/'dataset.csv')

In [9]:
data.shape

(50159, 37)

In [10]:
(data.isnull().sum() / len(data)) * 100

Unnamed: 0                  0.000000
Domain_Age                  5.933133
sld                         0.033892
oc_8                        0.000000
Emails                     25.070277
hex_32                      0.000000
Domain_Name                12.318826
puny_coded                  0.000000
Page_Rank                  38.944158
Alexa_Rank                  5.933133
3gram                       0.000000
distance_from_bad_words     0.000000
Country                    34.163361
hex_8                       0.000000
oc_32                       0.000000
len                         0.000000
typos                       0.000000
Registrar                  20.104069
dec_8                       0.000000
2gram                       0.000000
State                      40.561016
1gram                       0.000000
obfuscate_at_sign           0.000000
entropy                     0.000000
numeric_percentage          0.000000
Registrant_Name            97.270679
subdomain                   0.017943
char_distribution           0.000000
shortened                   0.378795
longest_word                0.041867
Name_Server_Count           5.933133
dec_32                      0.000000
Creation_Date_Time         19.079328
Organization               43.509639
tld                         0.017943
Unnamed: 34                99.982057
label                       0.000000
dtype: float64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50159 entries, 0 to 50158
Data columns (total 37 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               50159 non-null  int64
 1   Domain_Age               47183 non-null  object
 2   sld                      50142 non-null  object
 3   oc_8                     50159 non-null  int64
 4   Emails                   37584 non-null  object
 5   hex_32                   50159 non-null  int64
 6   Domain_Name              43980 non-null  object
 7   puny_coded               50159 non-null  int64
 8   Page_Rank                30625 non-null  float64
 9   Alexa_Rank               47183 non-null  float64
 10  3gram                    50159 non-null  object
 11  distance_from_bad_words  50159 non-null  object
 12  Country                  33023 non-null  object
 13  hex_8                    50159 non-null  int64
 14  oc_32                    50159 non-null  int64
 15  len                      50159 non-null  int64
 16  typos                    50159 non-null  object
 17  Registrar                40075 non-null  object
 18  dec_8                    50159 non-null  int64
 19  2gram                    50159 non-null  object
 20  State                    29814 non-null  object
 21  1gram                    50159 non-null  object
 22  obfuscate_at_sign        50159 non-null  object
 23  entropy                  50159 non-null  float64
 24  numeric_percentage       50159 non-null  float64
 25  Registrant_Name          1369 non-null   object
 26  subdomain                50150 non-null  float64
 27  char_distribution        50159 non-null  object
 28  shortened                49969 non-null  object
 29  longest_word             50138 non-null  object
 30  Name_Server_Count        47183 non-null  object
 31  dec_32                   50159 non-null  int64
 32  Creation_Date_Time       40589 non-null  object
 33  Organization             28335 non-null  object
 34  tld                      50150 non-null  object
 35  Unnamed: 34              9 non-null      object
 36  label                    50159 non-null  object
dtypes: float64(5), int64(9), object(23)
memory usage: 14.2+ MB

In [21]:
from sklearn.preprocessing import LabelEncoder

In [16]:
def separate_numerical_categorical_cols(data):
    numerical_cols = data.select_dtypes(include=['number']).columns.tolist()
    categorical_cols = data.select_dtypes(exclude=['number']).columns.tolist()
    return numerical_cols, categorical_cols

In [28]:
def impute_missing_values_with_simple_imputer(data, categorical_cols, numerical_cols):
    # Impute missing values for numerical columns using mean strategy
    numerical_imputer = SimpleImputer(strategy='mean')
    data[numerical_cols] = numerical_imputer.fit_transform(data[numerical_cols])
    
    # Impute missing values for categorical columns using most frequent strategy
    categorical_imputer = SimpleImputer(strategy='most_frequent')
    data[categorical_cols] = categorical_imputer.fit_transform(data[categorical_cols])
    
    return data

In [29]:
from sklearn.impute import KNNImputer,SimpleImputer

In [30]:
# more_than_5_percent_df, less_than_or_equal_to_5_percent_df = separate_columns(data)
numerical_cols, categorical_cols =  separate_numerical_categorical_cols(data)
    # print(f"Numerical columns{numerical_cols} \n Categorical columns{categorical_cols}")
# imputed_data = impute_missing_values_with_knn(data,categorical_cols,numerical_cols)
imputed_data = impute_missing_values_with_simple_imputer(data, categorical_cols, numerical_cols)

In [33]:
imputed_data.shape

(50159, 37)

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('/media/aqib/Software/My Boys Team Projects/project week 1/End-To-End-Malicious-Classification/data/processed_data/cleaned_data.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50159 entries, 0 to 50158
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Domain_Age               50159 non-null  object
 1   sld                      50159 non-null  object
 2   oc_8                     50159 non-null  int64
 3   Emails                   50159 non-null  object
 4   hex_32                   50159 non-null  int64
 5   Domain_Name              50159 non-null  object
 6   puny_coded               50159 non-null  int64
 7   Page_Rank                50159 non-null  int64
 8   Alexa_Rank               50159 non-null  float64
 9   3gram                    50159 non-null  object
 10  distance_from_bad_words  50159 non-null  object
 11  Country                  50159 non-null  object
 12  hex_8                    50159 non-null  int64
 13  oc_32                    50159 non-null  int64
 14  len                      50159 non-null  int64
 15  typos                    50159 non-null  object
 16  Registrar                50159 non-null  object
 17  dec_8                    50159 non-null  int64
 18  2gram                    50159 non-null  object
 19  State                    50159 non-null  object
 20  1gram                    50159 non-null  object
 21  obfuscate_at_sign        50159 non-null  object
 22  entropy                  50159 non-null  float64
 23  numeric_percentage       50159 non-null  float64
 24  Registrant_Name          50159 non-null  object
 25  subdomain                50159 non-null  float64
 26  char_distribution        50159 non-null  object
 27  shortened                50159 non-null  object
 28  longest_word             50159 non-null  object
 29  Name_Server_Count        50159 non-null  object
 30  dec_32                   50159 non-null  int64
 31  Creation_Date_Time       50159 non-null  object
 32  Organization             50159 non-null  object
 33  tld                      50159 non-null  object
 34  label                    50159 non-null  object
dtypes: float64(4), int64(9), object(22)
memory usage: 13.4+ MB

In [5]:
def separate_cols_by_type(data):
    int_cols = []
    obj_cols = []

    for col in data.columns:
        if data[col].dtype == 'int64' or data[col].dtype == 'float64':
            int_cols.append(col)
        elif data[col].dtype == 'object':
            obj_cols.append(col)

    return int_cols, obj_cols

In [6]:
int_cols,obj_cols = separate_cols_by_type(df)

In [7]:
int_cols

['oc_8',
 'hex_32',
 'puny_coded',
 'Page_Rank',
 'Alexa_Rank',
 'hex_8',
 'oc_32',
 'len',
 'dec_8',
 'entropy',
 'numeric_percentage',
 'subdomain',
 'dec_32']

In [8]:
obj_cols

['Domain_Age',
 'sld',
 'Emails',
 'Domain_Name',
 '3gram',
 'distance_from_bad_words',
 'Country',
 'typos',
 'Registrar',
 '2gram',
 'State',
 '1gram',
 'obfuscate_at_sign',
 'Registrant_Name',
 'char_distribution',
 'shortened',
 'longest_word',
 'Name_Server_Count',
 'Creation_Date_Time',
 'Organization',
 'tld',
 'label']

In [9]:
df[obj_cols].iloc[:,:10].head(2)

,Domain_Age,sld,Emails,Domain_Name,3gram,distance_from_bad_words,Country,typos,Registrar,2gram
0,"136 days, 2:56:04.883605",900259,"['abuse@gmo.jp', 'proxy@whoisprotectservice.com']","['0900259.COM', '0900259.com']","['090', '900', '002', '025', '259']","{'2': 5.740530303030303, '0': 5.74431818181818...",JP,"[('qq.com', 86), ('vk.com', 86)]","GMO INTERNET, INC.","['09', '90', '00', '02', '25', '59']"
1,"136 days, 2:56:19.517778",koitera,"['abuse@gmo.jp', 'proxy@whoisprotectservice.com']","['KOITERA.NET', 'koitera.net']","['koi', 'oit', 'ite', 'ter', 'era']","{'ko': 5.331439393939394, 'it': 5.178030303030...",JP,"[('php.net', 86), ('a8.net', 86)]","GMO INTERNET, INC.","['ko', 'oi', 'it', 'te', 'er', 'ra']"

In [10]:
df[obj_cols].iloc[:,10:].head(2)

,State,1gram,obfuscate_at_sign,Registrant_Name,char_distribution,shortened,longest_word,Name_Server_Count,Creation_Date_Time,Organization,tld,label
0,Tokyo,"['0', '9', '0', '0', '2', '5', '9']",0,REDACTED FOR PRIVACY,"defaultdict(<class 'int'>, {'2': 1, '9': 2, '0...",-1,9,4,2019-06-11 12:32:01,Whois Privacy Protection Service by onamae.com,com,spam
1,Tokyo,"['k', 'o', 'i', 't', 'e', 'r', 'a']",0,REDACTED FOR PRIVACY,"defaultdict(<class 'int'>, {'k': 1, 'a': 1, 'o...",-1,era,8,2019-06-11 12:31:48,Whois Privacy Protection Service by onamae.com,net,spam

In [11]:
df.columns

Index(['Domain_Age', 'sld', 'oc_8', 'Emails', 'hex_32', 'Domain_Name',
       'puny_coded', 'Page_Rank', 'Alexa_Rank', '3gram',
       'distance_from_bad_words', 'Country', 'hex_8', 'oc_32', 'len', 'typos',
       'Registrar', 'dec_8', '2gram', 'State', '1gram', 'obfuscate_at_sign',
       'entropy', 'numeric_percentage', 'Registrant_Name', 'subdomain',
       'char_distribution', 'shortened', 'longest_word', 'Name_Server_Count',
       'dec_32', 'Creation_Date_Time', 'Organization', 'tld', 'label'],
      dtype='object')